<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%=  javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= include_gritter %>
    <script type="text/javascript">
    <!-- Warning Duplicate IDs-->
      $('[id]').each(function(){
        var ids = $('[id='+this.id+']');
        if(ids.length>1 && ids[0]==this)
          console.warn('Multiple IDs #'+this.id);
      });
    </script>
  </head>
  <body>

      <%= yield %>
    </div>
  </body>
</html>

